body, button, input, select, textarea, p, span, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif !important;
}

.custom_wrapper .menu-drawer__menu-item-text {
    font-size: 16px;
}

.custom_wrapper .details__header {
    padding-left: 10px;
    padding-right: 10px;
}

.custom_wrapper .details__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.custom_wrapper .details-content {
    padding-left: 10px;
    padding-right: 10px;
}

.custom_wrapper .group-block {
    padding: 20px 8px;
}

.custom_wrapper .jdgm-prev-badge {
    padding-left: 10px;
    padding-right: 10px;
}

.custom_wrapper .swym-storefront-layout-header {
    display: block;
    height: auto;
}

.custom_wrapper .product__pickup-availabilities {
    display: none;
}

@media screen and (max-width: 767px) {
  .custom_wrapper .product-details {
    margin-top: 20px;
  }
}
